@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

.container_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 20px;
  height: 82px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.container_navbar .main_logo {
  width: 100%;
}
.container_navbar .navbar_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
}
.container_navbar .navbar_link a {
  text-decoration: none;
  color: white;
}
.container_navbar .navbar_link a:hover {
  text-decoration: underline;
}
.container_navbar .navbar_link a .active {
  color: #fac422;
}
.container_navbar .contact {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_navbar .contact li {
  border: 1px solid white;
  list-style-type: none;
  padding: 15px 25px;
}

.container_home {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.container_home #flex_1_home {
  background-color: black;
}
.container_home .item_1 {
  width: 50vw;
  height: 700px;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: 80px 20px 0 20px;
  transition: 2s;
  display: none;
}
.container_home .item_1 .link_social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transform: rotate(-90deg) translateY(-100px);
  width: 20px;
  padding: 0 20px;
  color: #80858f;
  transition: 1s;
}
.container_home .item_1 .container_fire {
  color: #57b8ff;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}
.container_home .item_1 .main_text {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 86px;
}
.container_home .item_1 .welcome_lorem {
  margin-top: 43px;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
}
.container_home .item_1 .btn_welcome {
  display: flex;
  justify-content: flex-start;
  margin-top: 53px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.container_home .item_1 .btn_welcome .btn1 {
  height: 70px;
  background-color: #57b8ff;
  color: white;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
}
.container_home .item_1 .btn_welcome .btn1:hover {
  background-color: black;
  border: 1px solid white;
}
.container_home .item_1 .btn_welcome .btn2 {
  height: 70px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.container_home .item_2 {
  background-color: #57b8ff;
  width: 50vw;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
.container_home .img_hero {
  height: 480px;
}

.container_shop {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #515151;
}
.container_shop h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #57b8ff;
}
.container_shop h1 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  width: 900px;
  display: block;
  margin: 12px auto 0 auto;
}
.container_shop p {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  width: 698px;
  color: rgba(223, 223, 223, 0.8);
  display: block;
  margin: 37px auto 0 auto;
}
.container_shop .card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.container_shop .card_container .card {
  transition: 0.5s;
}
.container_shop .card_container .card:hover {
  transform: translateY(10px);
}
.container_shop .card_container .card .card_1 {
  display: flex;
  width: 630px;
  gap: 16px;
  padding: 40px 0px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  margin-top: 30px;
  justify-content: center;
  opacity: 0;
  transition: 1s;
}
.container_shop .card_container .card .card_1:hover {
  background-color: #0d1729;
}
.container_shop .card_container .card .card_1.card_rigth {
  transform: translateX(100px);
}
.container_shop .card_container .card .card_1.card_left {
  transform: translateX(-100px);
}
.container_shop .card_container .card .card_1 .head_card {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #ffffff;
}
.container_shop .card_container .card .card_1 .title_card {
  margin-top: 30px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
  width: 500px;
}

.container_person {
  display: flex;
  width: 100%;
  background-color: #2a313c;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
.container_person .person {
  height: 600px;
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}
.container_person h2 {
  margin-top: 40px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57b8ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}
.container_person h1 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  line-height: 74px;
  text-transform: capitalize;
  color: #ffffff;
  height: 180px;
}
.container_person p {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  height: 200px;
  width: 550px;
}
.container_person .img_person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

#fire_shop {
  opacity: 0;
  transition: 1s;
  transform: translateY(50px);
}

#game_title_shop {
  opacity: 0;
  transition: 1s;
  transform: translateY(50px);
}

#p_shop {
  opacity: 0;
  transition: 1s;
  transform: translateY(50px);
}

.active_item_2 {
  flex: 10;
}

.active_item_2_img {
  background-image: url("../assets/hero.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}

.active {
  opacity: 1 !important;
  transform: translate(0px) !important;
}

.bi {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 45px;
  transition: 100ms;
}
.bi:hover {
  color: #57b8ff;
}/*# sourceMappingURL=style.css.map */